.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.sticky-nav {
  position: static;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: transparent;
  opacity: 1;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.button {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 29px;
  margin-right: 42px;
  font-weight: 400;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 175px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  float: none;
  clear: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.body {
  display: block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#496b84), to(#496b84));
  background-image: linear-gradient(180deg, #496b84, #496b84);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.cards-section {
  position: static;
  display: block;
  padding-top: 10px;
  padding-bottom: 0px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 0px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(180deg, transparent, transparent);
  opacity: 1;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.5fr 10px 0.5fr 10px 0.5fr 10px 0.5fr;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  -ms-grid-rows: 0.75fr;
  grid-template-rows: 0.75fr;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block {
  display: inline-block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 20px solid transparent;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.39);
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-2 {
  border-style: solid;
  border-width: 20px;
  border-color: #5b7a90;
  border-radius: 10px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  padding-top: 0px;
  padding-left: 339px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". Area";
  -ms-grid-columns: 0.75fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  -ms-grid-rows: minmax(330px, 1fr) 16px auto;
  grid-template-rows: minmax(330px, 1fr) auto;
}

.video {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 720px;
  max-width: 1080px;
  margin-top: 151px;
  margin-left: 443px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -o-object-fit: fill;
  object-fit: fill;
}

.button-2 {
  position: static;
  top: -13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-left: 20px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  border-radius: 20px;
  background-color: #f7961b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: normal;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.heading-2 {
  position: relative;
  top: 4px;
  margin-top: -1px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

.image {
  max-height: 201px;
}

.image-2 {
  margin-top: 0px;
  margin-left: 17px;
}

.heading-3 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  padding-top: 0px;
  padding-right: 0px;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.grid-2 {
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: ". Area Area-2";
  -ms-grid-columns: 0.75fr 10px 0.5fr 10px 0.75fr;
  grid-template-columns: 0.75fr 0.5fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block {
  margin-top: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: normal;
}

.image-3 {
  display: block;
  width: auto;
  margin-top: 35px;
  margin-bottom: 0px;
  padding-left: 6px;
  background-color: transparent;
}

.image-4 {
  display: inline-block;
  margin-left: 17px;
  padding-left: 0px;
}

.video-2 {
  display: block;
}

.grid-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 950px;
  margin-top: 18px;
  margin-left: 340px;
  padding-left: 0px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 10px;
  background-color: #5b7a90;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.grid-4 {
  grid-template-areas: "Area Area-2";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container-2 {
  margin-top: 62px;
}

.text-block-2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  text-align: left;
}

.hero-2 {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-image-2 {
  position: static;
  display: block;
  width: 150%;
  height: 150%;
  margin-top: -113px;
  margin-bottom: 55px;
  padding-right: 56px;
  padding-left: 81px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -webkit-transition: text-indent 200ms ease;
  transition: text-indent 200ms ease;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph {
  max-height: 40%;
}

.heading-4 {
  color: #fff;
}

.grid-5 {
  grid-template-areas: "Area"
    "Area-2";
  -ms-grid-columns: 2.75fr;
  grid-template-columns: 2.75fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.main-content {
  display: block;
  margin-right: 28px;
  padding-top: 57px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.rich-text-block {
  margin-left: -139px;
  color: #fff;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-6 {
  margin-right: 39px;
  justify-items: center;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: transparent;
}

.text-block-3 {
  color: #fff;
  font-size: 50px;
  text-align: center;
}

.grid-7 {
  display: -ms-grid;
  display: grid;
  padding-top: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1.25fr;
  grid-column-gap: 16px;
  grid-row-gap: 2px;
  grid-template-areas: "Area-2 Area-3"
    "Area-18 Area-4"
    "Area-6 Area-7"
    "Area-8 Area-9"
    "Area-10 Area-11"
    "Area-12 Area-16"
    "Area-13 Area-15"
    "Area-14 Area-17"
    "Area-19 Area-20";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: minmax(0px, 1fr) 2px auto 2px auto 2px auto 2px auto 2px auto 2px auto 2px auto 2px auto;
  grid-template-rows: minmax(0px, 1fr) auto auto auto auto auto auto auto auto;
  color: #fff;
}

.heading-5 {
  font-size: 14px;
}

.image-5 {
  margin-right: -1039px;
  margin-left: -148px;
  padding-left: 0px;
}

.grid-8 {
  grid-column-gap: 16px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 0.25fr;
  grid-template-rows: 0.25fr;
  background-color: rgba(255, 255, 255, 0.39);
}

.text-block-4 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}

.button-3 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  padding-right: 0px;
  padding-left: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #f7961b;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-column-count: auto;
  column-count: auto;
}

.heading-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 59px;
  margin-bottom: 0px;
  margin-left: 344px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image-6 {
  margin-left: 53px;
}

.div-block-3 {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.39);
}

.image-7 {
  margin-top: 32px;
  margin-right: 0px;
}

@media screen and (max-width: 991px) {
  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .heading {
    position: relative;
    left: -318px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .hero {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .hero-2 {
    padding: 40px 20px;
  }

  .main-content {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-logo {
    opacity: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .centered-container {
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading {
    position: static;
    left: -305px;
    top: 1893.25px;
    margin-top: 37px;
    margin-bottom: -12px;
    padding-top: 0px;
    padding-left: 0px;
  }

  .image-2 {
    margin-left: 43px;
    padding-left: 0px;
  }

  .image-3 {
    margin-right: 16px;
    margin-left: 29px;
    padding: 0px 0px 37px;
  }

  .image-4 {
    display: inline-block;
    margin-left: -2px;
    padding-left: 33px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .button-3 {
    overflow: hidden;
    margin-top: -80px;
    margin-left: 48px;
    opacity: 0;
  }

  .image-7 {
    margin-top: 15px;
  }
}

#w-node-_4a6476f6-367b-e4fa-2068-399bffea0198-825b6be3 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-e553bc5a-1e3f-8e83-9b48-999098bd142e-825b6be3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_88968dd2-0b63-fa94-7554-a7b20cdb2c50-825b6be3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_40886c54-9b9d-a0cd-d635-e4b123e9d443-825b6be3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-a66cd8f5-090a-1e02-4748-816cb3a6a942-825b6be3 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_6f04a313-d6c7-b467-bd93-73cdc89040a7-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-2;
}

.grid-4>#w-node-_6f04a313-d6c7-b467-bd93-73cdc89040a7-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-5>#w-node-_6f04a313-d6c7-b467-bd93-73cdc89040a7-825b6be3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-7>#w-node-_6f04a313-d6c7-b467-bd93-73cdc89040a7-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-ca9c76b7-9588-b340-4d75-61983dc762e6-825b6be3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-ca9c76b7-9588-b340-4d75-61983dc762e8-825b6be3 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-ca9c76b7-9588-b340-4d75-61983dc762e9-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-2;
}

.grid-4>#w-node-ca9c76b7-9588-b340-4d75-61983dc762e9-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-5>#w-node-ca9c76b7-9588-b340-4d75-61983dc762e9-825b6be3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-7>#w-node-ca9c76b7-9588-b340-4d75-61983dc762e9-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-afa2a1aa-ce86-3117-50ff-f178c7224dcc-825b6be3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-afa2a1aa-ce86-3117-50ff-f178c7224dce-825b6be3 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-afa2a1aa-ce86-3117-50ff-f178c7224dcf-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-2;
}

.grid-4>#w-node-afa2a1aa-ce86-3117-50ff-f178c7224dcf-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-5>#w-node-afa2a1aa-ce86-3117-50ff-f178c7224dcf-825b6be3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-7>#w-node-afa2a1aa-ce86-3117-50ff-f178c7224dcf-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-_6dfe058f-64fc-e4a5-3ef8-aaec455293d4-825b6be3 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_6dfe058f-64fc-e4a5-3ef8-aaec455293d6-825b6be3 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_6dfe058f-64fc-e4a5-3ef8-aaec455293d7-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-2;
}

.grid-4>#w-node-_6dfe058f-64fc-e4a5-3ef8-aaec455293d7-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-5>#w-node-_6dfe058f-64fc-e4a5-3ef8-aaec455293d7-825b6be3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-7>#w-node-_6dfe058f-64fc-e4a5-3ef8-aaec455293d7-825b6be3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-_63f525aa-2a00-3f8d-c697-81a39dfe4ddb-91a5506a {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-a5826b50-131b-1999-f66a-49222922017f-91a5506a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-c44a467f-f0fe-1c70-924a-37c66e0825af-91a5506a {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-2;
}

.grid-4>#w-node-c44a467f-f0fe-1c70-924a-37c66e0825af-91a5506a {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid-5>#w-node-c44a467f-f0fe-1c70-924a-37c66e0825af-91a5506a {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-7>#w-node-c44a467f-f0fe-1c70-924a-37c66e0825af-91a5506a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-f18d2519-f25c-75d0-d682-87f342b8d5e2-91a5506a {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Area-3;
}

#w-node-_9573fd6b-f291-9609-2018-4596bcc94fbe-91a5506a {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-18;
}

#w-node-bbf32ee0-8a2b-1f70-96ee-b9caca9d6278-91a5506a {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Area-6;
}

#w-node-_297ccb4d-7f33-fa28-fbd8-c97629374a79-91a5506a {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-4;
}

#w-node-b3190770-2200-ab18-bb70-726e93105dba-91a5506a {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Area-8;
}

#w-node-_44a780ea-6a1f-acf2-e89c-99451d4ce765-91a5506a {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: Area-10;
}

#w-node-fa00948d-da98-3594-2890-165939975d4d-91a5506a {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: Area-12;
}

#w-node-c7c51836-b328-a720-b0bb-a8e52d4be5f0-91a5506a {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  grid-area: Area-13;
}

#w-node-_2438d10f-3c9f-220b-ec4b-ebeee707dc01-91a5506a {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
  grid-area: Area-14;
}

#w-node-_9053d535-eb1b-4818-691a-5a344d6f4739-91a5506a {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
  grid-area: Area-19;
}

#w-node-_8c56a2e7-25cd-5fdb-d97c-ab514e3c4691-91a5506a {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: Area-7;
}

#w-node-_1d0e1216-910e-2e67-7cf4-1a056c420d0f-91a5506a {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
  grid-area: Area-16;
}

#w-node-_4c61b89b-acc5-7cb8-d909-546e114993fd-91a5506a {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: Area-9;
}

#w-node-_895922ef-9fce-92e4-f03d-ca1be2ea045e-91a5506a {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  grid-area: Area-11;
}

#w-node-_9fcf373b-2227-3d34-f4f3-fcc362d94729-91a5506a {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
  grid-area: Area-15;
}

#w-node-b758fba6-fd11-1fa0-41aa-28f239d5fb33-91a5506a {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
  grid-area: Area-17;
}

#w-node-_567b4ff8-7f75-5dd2-17bc-ded8d6d9b57c-91a5506a {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
  grid-area: Area-20;
}

#w-node-de401f40-a530-5a3c-788b-0c39d48d93f0-91a5506a {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-eded76c5-3ac6-0ed8-d5c2-2feb6662ce6a-91a5506a {
  -ms-grid-column-align: start;
  justify-self: start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-_4a6476f6-367b-e4fa-2068-399bffea0198-825b6be3 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-e553bc5a-1e3f-8e83-9b48-999098bd142e-825b6be3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-e553bc5a-1e3f-8e83-9b48-999098bd143c-825b6be3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_88968dd2-0b63-fa94-7554-a7b20cdb2c50-825b6be3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_40886c54-9b9d-a0cd-d635-e4b123e9d443-825b6be3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-ca9c76b7-9588-b340-4d75-61983dc762e6-825b6be3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-afa2a1aa-ce86-3117-50ff-f178c7224dcc-825b6be3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_6dfe058f-64fc-e4a5-3ef8-aaec455293d4-825b6be3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_63f525aa-2a00-3f8d-c697-81a39dfe4ddb-91a5506a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-a5826b50-131b-1999-f66a-49222922017f-91a5506a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

